<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">

    <router id="standard">
        <route id="trainingunit3_layoutex" frontName="layoutex">
            <module name="TrainingUnit3_LayoutEx"/>
        </route>
        <route id="trainingunit3_myaccount" frontName="myaccount">
            <module name="TrainingUnit3_LayoutEx"/>
        </route>
        <route id="trainingunit3_checkout" frontName="checkouttraining">
            <module name="TrainingUnit3_LayoutEx"/>
        </route>
        <route id="trainingunit3_viewexample" frontName="viewexample">
            <module name="TrainingUnit3_LayoutEx"/>
        </route>
    </router>

</config>
