<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">

    <router id="standard">
        <route id="trainingunit2_resultobjects" frontName="result_objects">
            <module name="TrainingUnit2_ResultObjects"/>
        </route>
    </router>

</config>
