<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TrainingUnit5_Admin::admin" title="Test"
             translate="title"
             module="TrainingUnit5_Admin"
             sortOrder="10"
             parent="Magento_Sales::sales_operation"
             action="training/training/admin"
             resource="TrainingUnit5_Admin::admin"/>
    </menu>
</config>
